#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: antiquewhite;
}

.flex {
  display: flex;
  justify-content: center;
  margin: 3rem;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
  background-color: crimson;
}

.card {
  width: fit-content;
  background-color: darkgray;
}

.card:hover {
  background-color: white;
}

.featpup {
  background-color: darkseagreen;
}